/* 顶部 */
#kb-top{
	min-width:1200px;
	height:36px;
	background:#8c222c;
}
.kb-container{
	width:1200px;
	margin:0 auto;
}
.top-inner{
	height:36px;
	background:#8c222c;
	position:relative;
	box-sizing:border-box;
}
.slogan-box{
	height:36px;
	line-height:36px;
	position:absolute;
	left:0;
	top:0;
	padding-left:6px;
	font-size:12px;
	color:#e2c8ca;
	box-sizing:border-box;
}
.slogan-box .text{
	margin-right:4px;
}
.top-right{
	position:absolute;
	right:0;
	top:0;
	line-height:36px;
	box-sizing:border-box;
	float:left;
}
.top-right ul li{
	float:left;
	padding:0 12px;
}
.top-right ul li a{
	color:#e2c8ca;
	font-size:12px;
}
.login-box{
	display:none;
	position:absolute;
	top:36px;
	left:auto;
	width:162px;
	height:120px;
	box-sizing:border-box;
	padding:20px 16px;
	border:1px solid #ccc;
	background:#fff;
}
.login-box .login-btn{
	width:130px;
	height:30px;
	line-height:30px;
	margin-bottom:15px;
	text-align:center;
	font-size:12px;
	border:1px solid #8c222c;
	border-radius:3px;
	color:#fff;
	background:#8c222c;
}
.login-box .register-btn{
	width:130px;
	height:30px;
	line-height:30px;
	font-size:12px;
	text-align:center;
	border:1px solid #d4c4b8;
	border-radius:3px;
	color:#8c222c;
	background:#f8f7f3;
}
.top-right .icon-ai66{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:16px;
	height:16px;
	line-height:16px;
	color:#fff;
	margin-top:-2px;
}
.personal-box{
	display:none;
	position:absolute;
	top:36px;
	left:auto;
	width:80px;
	height:220px;
	border:1px solid #ccc;
	background:#fff;
	color:#000;
}
.seller-box{
	display:none;
	position:absolute;
	top:36px;
	left:auto;
	width:100px;
	height:110px;
	border:1px solid #ccc;
	background:#fff;
	color:#000;
}
/* 头部 */
#kb-head{
	background:#f2f1ea;
}
.head-inner{
	height:100px;
	position:relative;
	box-sizing:border-box;
}
.logo{
	float:left;
	position:absolute;
	top:25px;
	left:0;
}
.logo a{
	display:block;
	width:265px;
	height:50px;
	background:url(../images/logo.png) no-repeat;
	text-indent:-9999px;
}
.search-box{
	float:right;
	margin-right:0;
	width:auto;
	height:100px;
	position:relative;
}
.search-form{
	float:left;
	width:688px;
	height:auto;
	box-sizing:border-box;
	padding-top:6px;
}
.search-form .search-top{
	width:120px;
	height:24px;
	line-height:24px;
	font-size:12px;
	color:#333;
	margin-left:2px;
}
.search-form .search-top a{
	float:left;
	margin-right:10px;
}
.search-form .search-top a:hover{
	color:#8c222c;
}
.search-form .search-inp{
	float:left;
	width:596px;
	height:36px;
	position:relative;
}
.search-inp .txt{
	float:left;
	width:596px;
	height:36px;
	border:2px solid #8c222c;
	border-right:none;
	box-sizing:border-box;
	padding-left:5px;
	font-size:10px;
	color:#ccc;
}
.search-inp .keywordBox{
	width:596px;
	background:#fff;
	border:1px solid #eee;
	position:absolute;
	top:36px;
	left:0;
	z-index:99;
}
.search-inp .keywordBox li{
	width:100%;
	height:30px;
	line-height:30px;
	padding-left:5px;
}
.search-form .search-inp .search-status{
	position:absolute;
	top:0;
	right:0;
	width:74px;
	height:36px;
	line-height:36px;
	text-align:center;
	font-size:12px;
}
.search-form .sub{
	float:left;
	width:90px;
	height:36px;
	line-height:36px;
	font-size:16px;
	text-align:center;
	border:none;
	color:#fff;
	background:#8c222c;
}
.search-link{
	float:left;
	width:35px;
	height:40px;
	line-height:16px;
	font-size:12px;
	color:#666;
	text-align:right;
	margin-top:30px;
}
.menu{
	position:absolute;
	left:0;
	width:600px;
	height:18px;
	line-height:18px;
	margin-top:4px;
	font-size:12px;
	color:#7C7C7C;
}
.menu a{
	margin-right:16px;
}
.menu a:hover{
	color:#8c222c;
}
/* 导航区 */
#kb-nav{
	background:#fff;
}
.kbNav-inner{
	height:58px;
}
.kbNav-inner ul{
	float:left;
	box-sizing:border-box;
	padding-right:20px;
	margin-right:50px;
}
.kbNav-inner ul li{
	float:left;
	font-size:16px;
	height:58px;
	line-height:58px;
	margin-right:32px;
	padding-right:15px;
	box-sizing:border-box;
	position:relative;
}
.kbNav-inner ul li a{
	display:block;
	color:#333;
	font-weight:500;
}
.kbNav-inner .nav-line{
	position:absolute;
	display:none;
	height:2px;
	width:32px;
	bottom:10px;
	background:#B5AA9A;
}
/* 内容区 */
#main-box{
	background:#f2f1ea;
	min-width:1200px;
}
/* 左边目录区 */
.content-left{
	width:180px;
	position:relative;
	top:0;
	left:0;
	z-index:1;
	float: left;
}
.cagetory-box{
	position:static;
	width:180px;
	height:auto;
	background:#f7f7f6;
}
.cagetory-box .list-group{
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.list-group .list-group-item{
	position:relative;
	padding:0 19px;
	box-sizing:border-box;
	margin-bottom:-1px;
	height:32px;
	line-height:32px;
	border:1px solid #ddd;
	background:#fff;
}
.list-group .item-header{
	height:36px;
	line-height:36px;
	font-size:16px;
	color:#fff;
	border:1px solid #8c222c;
	background:#8c222c;
}
.list-group .list-group-item .title-book{
	height:34px;
	line-height:34px;
	color:#fff;
	font-size:15px;
	font-weight:700;
	float:left;
}
.list-group .list-group-item .pull-right{
	float:right;
	height:26px;
	line-height:34px;
	color:#d6d6d6;
	font-size:12px;
}
.list-group .item-remark{
	font-size:14px;
	color:#59070f;
	background:#f2f1ea;
}
.list-group .list-group-item .item-text{
	position:absolute;
	top:-1px;
	left:-1px;
	z-index:5;
	width:180px;
	box-sizing:border-box;
	padding-left:18px;
	color:#333;
	font-size:13px;
}
.list-group .list-group-item .item-text span{
	font-size:12px;
	margin:0 3px;
}
.list-group .list-group-item .item-text .iconfont{
	display:inline-block;
	vertical-align:top;
	height:29px;
	color:#cfc8c4;
	font-size:12px;
	position:absolute;
	right:10px;
}
.list-group .split-block{
	width:100%;
	height:16px;
}
.left-bar-ad{
	width:100%;
}
.left-bar-ad .ad-top{
	display:block;
	height:56px;
	overflow:hidden;
}
.left-bar-ad .ad-top a{
	position:relative;
	display:inline-block;
}
.left-bar-ad .ad-top a img{
	width:100%;
	vertical-align:middle;
}
.left-bar-ad .ad-middle{
	display:block;
	overflow:hidden;
	margin-top:10px;
}
.left-bar-ad .ad-middle a{
	position:relative;
	display:inline-block;
}
.left-bar-ad .ad-middle a img{
	width:100%;
	vertical-align:middle;
}
.platform{
	position:relative;
	top:0;
	left:0;
	z-index:1;
	width:100%;
	margin-top:16px;
}
.platform .item{
	border-bottom:1px solid #e5e5e5;
	border-top:1px solid #e5e5e5;
	padding:6px 0;
	display:block;
	box-sizing:border-box;
	width:100%;
	font-size:15px;
	color:#333;
}
.platform .item .ico{
	display:block;
	margin-right:12px;
	float:left;
}
.platform .item .ico .iconfont{
	display:block;
	margin-left:10px;
	color:#673b1c;
}
.platform .item .contact-text{
	display:block;
	box-sizing:border-box;
}
.platform .item .contact-text .lable{
	height:14px;
	font-size:12px;
	line-height:14px;
	color:#999;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.cagetory-box .rule{
	width:180px;
}
.cagetory-box .rule .rule-tab{
	width:100%;
	height:37px;
	color:#222;
	font-size:14px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	box-sizing:border-box;
}
.cagetory-box .rule .rule-tab a{
	display:inline-block;
	color:#222;
}
.rule .rule-tab .rule-help{
	position:relative;
}
.rule .rule-tab .rule-help .title{
	height:37px;
	line-height:20px;
	text-align:center;
	color:#999;
	font-size:14px;
	margin:0 auto;
}
.rule .rule-tab .rule-help .title .labels{
	display:inline-block;
	color: #222;
	margin-top:8px;
}
.rule .rule-tab .rule-help .rule-helpBox{
	position:absolute;
	right:0;
	top:38px;
	display:none;
	width:180px;
	height:420px;
	background:#fff;
	box-sizing:border-box;
	padding-top:21px;
	z-index:99;
}
.rule-tab .rule-help .rule-helpBox .helpBox-inner{
	width:125px;
	margin:0 auto;
}
.rule-help .rule-helpBox .helpBox-inner .help-btn{
	display:block;
	width:125px;
	height:32px;
	line-height:32px;
	border:1px solid #e5e5e5;
	border-radius:2px;
	background:#f8f7f3;
	text-align:center;
	color:#333;
	font-size:12px;
	margin:0 auto;
}
.rule-help .rule-helpBox .helpBox-inner .help-btn .ico{
	color:#a5806d;
	font-size:12px;
}
.rule-help .rule-helpBox .helpBox-inner .tip{
	display:block;
	color:#9c9c9c;
	font-size:12px;
	margin-top:14px;
	text-align:left;
}
.rule-help .rule-helpBox .helpBox-inner .text{
	font-size:12px;
	line-height:16px;
	color:#666;
	text-align:left;
	margin-bottom:20px;
}
.rule-help .rule-helpBox .helpBox-inner .text .item{
	width:100%;
	margin-bottom:16px;
	margin-top:17px;
}
.rule-help .rule-helpBox .helpBox-inner .text .last{
	margin-bottom:0;
}
.rule-help .rule-helpBox .helpBox-inner .help-qq{
	display:block;
	font-size:12px;
	color:#333;
	height:26px;
	line-height:26px;
}
.rule .rule-box{
	width:180px;
	height:126px;
	background:#fff;
	box-sizing:border-box;
	padding:10px 8px;
}
.rule .rule-box ul{
	width:164px;
}
.rule .rule-box ul li{
	width:100%;
	height:48px;
	box-sizing:border-box;
	margin-bottom:10px;
	padding-left:2px;
}
.rule .rule-box ul li a{
	display:inline-block;
	color: #666;
	font-size:12px;
}
.rule .rule-box ul li .title{
	width:164px;
	height:32px;
	line-height:16px;
	overflow:hidden;
}
.rule .rule-box ul li .time{
	color:#999;
}
.rule-box .sign-con{
	display:none;
}
/* 右边图片区 */
.content-right{
	width:1010px;
	float:right;
	box-sizing: border-box;
}
/* banner */
.swiper-container{
	width:1010px;
	height:270px;
	cursor:pointer;
}
.swiper-container img{
	width:1010px;
	height:270px;
}
/* 拍卖广告 */
.pm-box{
	width:100%;
	height:96px;
	padding-top:10px;
	box-sizing:border-box;
}
.pm-box .pm-box-two{
	width:100%;
	float:left;
}
.pm-box .pm-box-two a{
	display:inline-block;
	vertical-align:top;
	margin-bottom:2px;
	max-height:40px;
	overflow:hidden;
	width:503px;
}
.pm-box .pm-box-two a img{
	width:100%;
	vertical-align:middle;
}
/* 好书推荐 */
.book-tuijian{
	box-sizing:border-box;
	padding-left:10px;
}
/* 好书list */
.gallery-book-list{
	width:100%;
}
.gallery-book-title{
	width:100%;
	height:22px;
	box-sizing:border-box;
	margin-bottom:25px;
	border-bottom:1px solid #ccc;
	margin-top:20px;
	padding-bottom:34px;
}
.gallery-book-title span{
	font-size:18px;
	top:12px;
	left:20px;
	color:#333;
	font-weight:700;
}
.gallery-book-title i{
	font-size:14px;
	color:#999;
	margin:0 3px;
}
.gallery-book-title a{
	font-size:12px;
	color:#0057a0;
}
.gallery-book-product{
	width:100%;
	height:550px;
	text-align:justify;
}
.gallery-book-product .gallery-book-slide{
	margin-right:32px;
	position:relative;
	float:left;
	display:inline-block;
	width:140px;
	height:234px;
	margin-bottom:40px;
}
.gallery-book-product .book-six{
	margin-right:0;
}
.gallery-book-product .gallery-book-slide .gallery-book-list-img{
	display:block;
	width:140px;
	height:140px;
	line-height:140px;
	margin-bottom:4px;
	overflow:visible;
	text-align:center;
}
.gallery-book-slide .gallery-book-list-img img{
	display:inline-block;
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
}
.gallery-book-slide .gallery-book-product-text{
	display:block;
	width: 98px;
	max-height: 40px;
	line-height:20px;
	font-size:12px;
	color:#333;
	word-break:break-all;
	margin:0 auto;
	overflow:hidden;
}
.gallery-book-product .gallery-book-slide .gallery-book-author{
	width: 98px;
	height:19px;
	text-align:left;
	overflow:hidden;
	margin:0 auto;
	font-size:12px;
	color:#999;
}
.gallery-book-slide .gallery-book-product-price{
	position: absolute;
	width:100%;
	height:22px;
	line-height:22px;
	left:0;
	bottom:0;
	font-size:16px;
	color:#bf7f5f;
}
.gallery-book-slide .gallery-book-product-price div{
	width:98px;
	margin:0 auto;
}
.gallery-book-slide .gallery-book-product-price div i{
	float:left;
	font-style:normal;
	margin-right:3px;
}
.gallery-book-slide .gallery-book-product-price span{
	float:left;
	color:#bbb;
	font-size:12px;
}
/* 新书广场 */
.newSquare-box{
	width:100%;
	min-height:511px;
	margin-bottom:40px;
}
.newSquare-box-title{
	width:100%;
	height:22px;
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
	padding-bottom:34px;
	box-sizing:border-box;
}
.newSquare-box-title span{
	font-size:18px;
	top:12px;
	left:20px;
	color:#333;
	font-weight:700;
	vertical-align:middle;
}
.newSquare-box-title .ziying{
	padding:2px 4px;
	margin: 0 5px;
	font-size:12px;
	color:#fff;
	vertical-align:middle;
	background:#8c222c;
	border-radius:3px;
}
.newSquare-box-title i{
	font-size:14px;
	color:#999;
	font-weight:400;
	vertical-align:middle;
	margin:0 3px;
}
.newSquare-box-title a{
	font-size:12px;
	color:#0057a0;
	vertical-align:middle;
}
.newSquare-box-con .item{
	display:inline-block;
	vertical-align:top;
	width:322px;
	height:434px;
	border:1px solid #e5e5e5;
	background:#fff;
	box-sizing:border-box;
	margin-right:13px;
}
.newSquare-box-con .item-third{
	margin-right:0;
}
.newSquare-box-con .item .item-img{
	position:relative;
	width:100%;
	height:240px;
}
.newSquare-box-con .item .item-img .item-img-bg{
	height:100%;
	overflow:hidden;
}
.item .item-img .item-img-bg a{
	display:block;
	width:100%;
	height:100%;
}
.item .item-img .item-img-bg a img{
	width:100%;
	vertical-align:middle;
}
.newSquare-box-con .item .item-con{
	width:278px;
	margin:0 auto;
}
.item .item-con .item-con-title{
	box-sizing:border-box;
	height:34px;
	padding-top:12px;
	overflow:hidden;
}
.item .item-con .item-con-title a{
	font-size:14px;
	color:#333;
	cursor:pointer;
}
.item .item-con .item-con-title a .ziying{
	box-sizing:border-box;
	padding:1px 4px;
	margin-right:5px;
	font-size:12px;
	border-radius:3px;
	vertical-align:middle;
	color: #fff;
	background:#8c222c;
}
.item .item-con .item-con-dis{
	font-size:12px;
	color: #666;
	margin-top:6px;
	height:36px;
	line-height:18px;
	overflow:hidden;
}
.item .item-con .tag{
	width:100%;
	height:36px;
	margin-top:10px;
	border-bottom:1px solid #e5e5e5;
	overflow:hidden;
}
.item .item-con .tag span{
	position:relative;
	float:left;
	font-size:12px;
	line-height:12px;
	height:24px;
	border:1px solid #dfc49b;
	box-sizing:border-box;
	padding:5px 6px;
	color:#C28F42;
	margin-right:9px;
	margin-bottom:12px;
	border-radius:0 0 8px 0;
}
.item .item-con .item-bottom{
	width:100%;
}
.item .item-con .item-bottom .f-left{
	height:30px;
	line-height:30px;
	font-size:18px;
	color:#8c222c;
	margin-top:20px;
	float:left;
}
.item .item-con .item-bottom .f-left span{
	margin-left:4px;
	font-size:12px;
}
.item .item-con .item-bottom .f-right{
	position:relative;
	float:right;
}
.item .item-con .item-bottom .f-right .btn{
	display:block;
	width:112px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#8c222c;
	font-size:14px;
	color:#fff;
	margin-top:20px;
	border-radius:2px;
	cursor:pointer;
}
/* 三栏广告区 */
.kb-advertise{
	height:229px;
}
.kb-advertise div{
	padding-bottom:40px;
	box-sizing:border-box;
	float:left;
}
.kb-advertise div a{
	display:inline-block;
	width:390px;
	height:166px;
}
.kb-advertise div .img2{
	margin:0 12px;
}
.kb-advertise div .img3{
	float:right;
}
.kb-advertise div a img{
	width:390px;
	height:166px;
	vertical-align:middle;
}
/* 拍卖公司区 */
#pmCompany{
	background:#fff;
}
.pmCompany-box{
	box-sizing:border-box;
	padding-top:56px;
	overflow:hidden;
}
.pmCompany-box-title{
	width:100%;
	height:22px;
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
	padding-bottom:34px;
	box-sizing:border-box;
}
.pmCompany-box-title span{
	font-size:18px;
    top:12px;
    left:20px;
    color:#333;
    font-weight:700;
}
.pmCompany-box-title i{
	font-size:14px;
	color:#999;
	font-weight:400;
}
.pmCompany-box-title a{
	font-size:12px;
	color:#0057a0;
}
.pmCompany-con{
	width:100%;
	text-align:justify;
	margin-bottom:50px;
}
.pmCompany-con ul{
	display:block;
	width:100%;
}
.pmCompany-con .list{
	display:inline;
	float:left;
	width:200px;
	height:30px;
	line-height:30px;
	margin-bottom:20px;
}
.pmCompany-con .list .first{
	position:relative;
	width:100%;
	height:100%;
	text-align:center;
	color:#aa987d;
	background:#f3f0e9;
}
.pmCompany-con .list img{
	width:100%;
	vertical-align:middle;
}
/* 底部 */
#kb-footer{
	background:#fff;
}
.footer-inner{
	height:70px;
	padding:10px 0 20px 0;
	border-top:1px solid #e5e5e5;
	box-sizing:border-box;
	color:#999;
}
.copyright,.link-box,.licence-box{
	height:20px;
	line-height:20px;
	font-size:12px;
}
.copyright{
	float:left;
	width:300px;
}
.link-box{
	text-align:right;
}
.link-box .item{
	margin-left:13px;
	color:#8999a9;
}
.licence-box .text{
	color:#999;
}
.licence-box .text-split{
	margin:3px;
	color:#e5e5e5;
}